.section9 {
  display: flex;
  justify-content: center;
  align-items: center;


  .box-6 {
    width: 100%;
    height: 352px;

    .center {
      width: 100%;
      height: 100px;
      margin-top: 5%;
      border-left: 7px solid rgb(218, 218, 218);
      position: relative;

      &:hover {
        border-left-color: #00A9DF;
        transition-duration: 1s;
      }


      ul {
        position: absolute;
        top: 11%;

        li {
          list-style: none;

        }
      }
    }
  }
}