.bg-color{
    width: 100%;
    height: 11px;
    background-image: linear-gradient(left, #E75239 0%,#E75239 12.5%,#FF961C 12.5%,#FF961C 25%,#FFCC27 25%,#FFCC27 37.5%,#FCE62F 37.5%,#FCE62F 50%,#CDE35B 50%,#CDE35B 62.5%,#82CC33 62.5%,#82CC33 75%,#41BECE 75%,#41BECE 87.5%,#049CDB 87.5%,#049CDB 100%);

}

.section2{
    // widows: 100%;
    // height: 250px;
    background-color: #25272B;

    .box2{
        width: 100%;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

}

